body {
    background-color: rgb(31, 8, 40);
    color: white;
}

.font-8pt {
    font-size: 8pt !important;
    line-height: 1.6;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    /* This pushes the footer down */
}

footer {
    flex-shrink: 0;
    /* Prevents footer from shrinking */
}

.nav-css {
    background-color: rgb(255, 138, 255);
    color: white;
}

.header-purple {
    background-color: rgb(65, 0, 65);
    border-bottom: 4px solid rgb(212, 118, 255);
}

.header-pink {
    background-color: rgb(87, 0, 95);
    border-bottom: 4px solid rgb(246, 153, 255);
}

.footer-border {
    border-top: 1px solid rgb(246, 153, 255);
}

.nav-colors {
    background-color: rgb(246, 153, 255);
    color: white;
}

.section-style {
    background-color: rgba(255, 255, 255, 0.105);  
    border: 2px solid rgb(246,153,255);
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(212, 118, 255, 0.5);
    text-shadow: 5px 5px 5px rgba(212, 118, 255, 0.5);
}

.title-style {
    background-color: rgb(255, 105, 190);
    border: 2px solid rgb(255, 114, 255);
    border-radius: 10px;
}

.purple-text-dropshadow {
    text-shadow: 5px 5px 5px rgba(238, 111, 255, 0.75);
}