body {
    background-color: rgb(31, 8, 40);
    color: white;
}

.font-8pt {
    font-size: 8pt !important;
    line-height: 1.6;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    /* This pushes the footer down */
}

footer {
    flex-shrink: 0;
    /* Prevents footer from shrinking */
}

.bg-darkpurple
{
    background-color: rgb(63, 16, 107);
}

.bg-darkpink {
    background-color: rgb(150, 0, 117);
}

.nav-css {
    background-color: rgb(255, 138, 255) !important;
    color: white !important;
}

.border-pastelpurple {
    border-color: rgb(205, 152, 255) !important;
}

.border-pastelpink {
    border-color:  rgb(255, 140, 245) !important;
}